.error {
  text-align: center;
  background-image: url("../../../assets/juskteez-vu-RtanZbrbSXY-unsplash.jpg");
  background-size: cover;
  color: #fff;
  height: 100%;
}

h1 {
  margin: -10px 0 -30px;
  font-size: calc(17vw + 40px);
  opacity: .8;
  letter-spacing: -17px;
}

p {
  opacity: .8;
  font-size: 20px;
  margin: 8px 0 38px 0;
  font-weight: bold
}
